# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Minecraft Server Files
*/logs/
*/world/
*/world_nether/
*/world_the_end/
*/cache/
*/versions/
*/libraries/
*/plugins/
*/crash-reports/
*/eula.txt
*/usercache.json
*/whitelist.json
*/ops.json
*/banned-ips.json
*/banned-players.json
*/server.properties.old
*/paper.yml.old
*/bukkit.yml.old
*/spigot.yml.old
*/commands.yml
*/permissions.yml
*/help.yml
*/we-locally-installed.json
*/.console_history
data-*/
